:root {
  --white: #fff;
  --black: #000;
  --font-color-base: #8795a2;
  --font-color-dark: #20335b;
  --font-color-light: #5a97fd;
  --font-color-blue: #2476ff;
  --footer: #34314b;
  --nav-base: #f7f8fa;
  --contrast: #ecf2ff;
  --succes: #01c9a7;
  --divide: #d7d7d7;
  --grad-1: #5a6a7f;
  --grad-2: #6c7993;
  --grad-3: #e7e9f2;

  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;
  --size-200: 12.5rem;
  --size-300: 18.75rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: var(--size-14);
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-base);
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
p {
  margin-top: 0;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 1.25rem;
  transition: ease-in-out 0.3s;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
